#deny accept to .htaccess file
<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>

#access prevent to template sql file
<FilesMatch "\.sql">
    Order allow,deny
    Deny from all
</FilesMatch>

#index ignore
IndexIgnore *
