#deny accept to .htaccess file
<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>

#access prevent
<FilesMatch "\.">
    Order allow,deny
    Deny from all
</FilesMatch>

#index ignore
IndexIgnore *