<?php

    //never use root (main acc)
    $config = array
    (
        'database_type' => 'mysql',
        'database_name' => 'ch',
        'server' => 'localhost',
        'username' => 'name',
        'password' => 'pass'
    );

?>